###########################################
# Start Print Macro for Creality K1 Series
###########################################

[output_pin Adaptive_Bed_Mesh]
pin: virtual_pin:Adaptive_Bed_Mesh_pin
value: 1

[output_pin Smart_Park]
pin: virtual_pin:Smart_Park_pin
value: 1

[output_pin Line_Purge]
pin: virtual_pin:Line_Purge_pin
value: 1


[gcode_macro START_PRINT]
gcode:
  {% set x_offset = printer.save_variables.variables.x_offset|float %}
  {% set y_offset = printer.save_variables.variables.y_offset|float %}
  {% set z_offset = printer.save_variables.variables.z_offset|float %}
  M117
  WAIT_TEMP_END
  {% set bed_temp = params.BED_TEMP|float %}
  {% set extruder_temp = params.EXTRUDER_TEMP|float %}

  M140 S{bed_temp}
  G28
  M190 S{bed_temp}
  G28 Z
  NOZZLE_CLEAR HOT_MAX_TEMP={extruder_temp|float - 20.0}
  G28 Z
  BED_MESH_CLEAR
  G4 P2000
  {% if printer['output_pin Adaptive_Bed_Mesh'].value == 1 %}
    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
    {% set x_min = ((all_points | map(attribute=0) | min | default(0)) + x_offset) %}
    {% set x_max = ((all_points | map(attribute=0) | max | default(0)) + x_offset) %}
    {% set y_min = ((all_points | map(attribute=1) | min | default(0)) + y_offset) %}
    {% set y_max = ((all_points | map(attribute=1) | max | default(0)) + y_offset) %}
    BED_MESH_CALIBRATE mesh_min={x_min},{y_min} mesh_max={x_max},{y_max} probe_count=5 #ADAPTIVE=1
  {% endif %}
  
  SET_GCODE_OFFSET Z={z_offset}
  SET_GCODE_OFFSET X={x_offset} Y={y_offset}
  G4 P1800
  
  {% if printer['output_pin Smart_Park'].value == 1 %}
    _SMART_PARK
    M109 S{extruder_temp}
    M190 S{bed_temp}
    {% if printer['output_pin Line_Purge'].value == 1 %}
      _LINE_PURGE
    {% endif %}
  {% else %}
    M109 S{extruder_temp}
    M190 S{bed_temp}
  {% endif %} 
  
  #KEW_PROFILE LOAD=CaliFlower

  RESPOND MSG="Gcode offsets: X={x_offset} Y={y_offset} Z={z_offset}"
